# shellcheck disable=2034
AWS_PROFILE="marvel-profile"

# The exact AWS_* variables to specify varies from setup to setup -
# My ~/.aws/config looks as follows which is why I have my AWS_PROFILE="marvel-profile"
#
# [default]
# login_session = arn:aws:iam::XXXXXXX:user/Tilak
# region = us-west-2
#
# [profile talos-basic]
# role_arn = arn:aws:iam::XXXXXXX:role/TalosBasic
# region = us-west-2
# source_profile = default
#
# [profile marvel-profile]
# credential_process = aws configure export-credentials --profile talos-basic --format process
# region = us-west-2
#
